@media screen and (min-width: 992px) {
    .main_section {
        height: 50vw;
        padding: 10px;
    }
}

footer {
    background-color: black;
    color: antiquewhite;
    padding: 10px;
}

.img_icons {
    width: 100px;
    height: 100px;
    transition: width 2s, height 2s, transform 1s;
}

.img_icons:hover {
    width: 150px;
    height: 150px;
    /* transform: rotate(360deg); */
    transform: scale(1.5, 1.5);
}

.img_picture {
    width: 400px;
    height: 340px;
    border-radius: 10%;
}

.img_projects {
    width: 100%;
}

.img_projects_thumb {
    width: 25%;
    border-radius: 5%;
}

.underscored {
    text-decoration: underline;
    text-decoration-color: aqua;
    text-decoration-thickness: 0.6rem;
}

.alt_bg {
    background-color: #e9ecef;
}